.sidebar {
  height: 100vh;
  width: 17%;
  font-size: 28px;
  text-decoration: none;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  position: fixed;
  overflow: scroll;
}

.sidebar a{
  text-decoration: none;
  color: rgb(96, 96, 96);
}

.option {
  padding: 5px;
  padding-left: 25px;
}

.option:hover {
  color: white;
}

#all:hover {
  background-color: var(--all);
}
#Africa:hover {
  background-color: var(--Africa);
}
#Asia:hover {
  background-color: var(--Asia);
}
#South-America:hover {
  background-color: var(--South-America);
}
#North-America:hover {
  background-color: var(--North-America);
}
#Europe:hover {
  background-color: var(--Europe);
}
#Oceania:hover {
  background-color: var(--Oceania);
}

#current {
  color: white;
}

